body, canvas, div, h1, h2, section, ul, li,
table, tbody, tr, th, img, a, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
  background: inherit;
}

ul {
  list-style: none;
}

body {
  margin: 20px 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  background: #2e0000;

  color: #EFE6DD;
  font-family: 'Freckle Face', cursive;
  font-size: 2em;
}

img {
  height: 100%;
}

#gameCanvas {
  background-image: url("bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.information-bar {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

th {
  padding-right: 20px;
}

#lives {
  color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  color: #2e0000;
  background-color: #F5F1ED;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #2e0000;
  text-decoration: none;
  cursor: pointer;
}

#instructionsModal {
  display: block;
}

section, ul {
  font-family: 'Montserrat', sans-serif;
  margin: 12px 0;
}

.personal-links {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

a:hover {
  color: #519872;
}

button:hover {
  color: #2e0000;
  background: #EFE6DD;
  cursor: pointer;
}

button {
  display: block;
  margin: 8px auto;
  border: 3px solid #2e0000;
  border-radius: 24px;
  padding: 8px;
  background: #2e0000;
  color: #EFE6DD;
}

#gameOverModal .modal-content {
  width: 25%;
  margin: 20% auto;
}

#leaderboardModal .modal-content {
  width: 25%;
}

#leaderboardModal table {
  width: 100%;
  text-align: center;
}

#highScoreModal .modal-content {
  display: flex;
  flex-direction: column;
  width: 35%;
}

#highScoreModal label {
  margin: 0 auto;
  display: flex;
}

#highScoreModal input {
  margin-left: 15px;
  border: 1px solid #2e0000;
  border-radius: 3px;
  font-size: .5em;
}
